.idea/
xns-sso.iml
xns-sso-server.iml
xns-sso-api.iml
ha/
target/
xns-service-redis.iml
xns-service-eureka.imlredis/
xns-service-eureka.iml
xns-service-spike.iml

xns-server-sample2.iml
create.sql
xns-service-lottery.iml
xns-sso-lottery.iml
xns-zuul-gateway.iml
