<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>xns单点登录</title>
    <meta content="width-device-width, initial-scale=1,maximum-scale=1 user-scalable=no" name="viewport"/>
</head>
<body>
<!--<div class=":login-logo">-->
<!--    <a href="#">s</a>-->
<!--</div>-->
<div class="login-box-body">
    <p class="login-box-msg">欢迎登录</p>
    <form action="/user/login" method="post">
        <!--        <div class="alter alter-danger alter-dismissible">-->
        <!--            <button type="button" class="close" data-dismiss="alter" aria-hidden="true">&times;</button>-->
        <!--        </div>-->
        <div class="from-group has-feedback">
            <input name="userName" type="text" class="from-control" placeholder="名称">
        </div>
        <div class="from-group has-feedback">
            <input name="userPassword" type="password" class="from-control" placeholder="密码">
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icon-check">
                    <label>
                        <input name="isRemember" type="checkbox">记住我
                    </label>
                </div>
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-small">登录</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>