<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ns.cloud.mapper.UserMapper" >

    <resultMap id="BaseResultMap" type="com.ns.cloud.entities.User">
        <id property="userId" column="user_id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userPassword" column="user_password"></result>
    </resultMap>
    <insert id="insert">
        insert into user values (#{userId,jdbcType=VARCHAR},#{userName,jdbcType=VARCHAR},#{userPassword,jdbcType=VARCHAR})
    </insert>
    <select id="findById" resultMap="BaseResultMap">
        select * from user where user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <select id="findByName" resultMap="BaseResultMap">
        select * from user where user_name = #{userName,jdbcType=VARCHAR}
    </select>
</mapper>